**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
!/.idea/inspectionProfiles

**/build
**/release
**/.gradle
**/.kotlin

local.properties
*.iml
.DS_Store
Secrets.plist
